@import "./reset";
// -=----- Variables -=----- //
//global
$backgroundColor: rgb(10, 10, 10);
$fontColorHeader: white;

//header
$headerPaddingTop: 2em;
$headerPaddingHorizontal: 3.8em;

//routes
$fontColorRoute1: rgb(255, 255, 255);
$pageWidth: 50em;

// -=----- Routes -=----- //

@import "./routes/About";
@import "./routes/Contact";
@import "./routes/Header";
@import "./routes/Projects";
@import "./main";

// -=----- Fonts -=----- //
@font-face {
  font-family: "arvo_bold";
  src: url("./fonts/arvo.bold.ttf") format("truetype");
}
@font-face {
  font-family: "arcon";
  src: url("./fonts/arcon.regular.otf");
}
@font-face {
  font-family: "nimbus-b";
  src: url("./fonts/NimbusSanL-Bol.otf");
}
@font-face {
  font-family: "nimbus";
  src: url("./fonts/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: "nimbus-i";
  src: url("./fonts/NimbusSanL-RegIta.otf");
}
@font-face {
  font-family: "nimbus-b-i";
  src: url("./fonts/NimbusSanL-BolIta.otf");
}
//font-family: 'Major Mono Display', monospace;
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

// font-family: 'ZCOOL QingKe HuangYou', cursive;
@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");
// font-family: 'Merryweather', serif;
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i");
//font-family: 'Bitter', serif;
@import url("https://fonts.googleapis.com/css?family=Bitter");
// font-family: 'Allerta Stencil', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

// ------ Main Start ------ //

//ttransform: skew(-15deg) translateX(3px) scale(1, 1.1);

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello2 {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5+ 12deg);
  }

  33.3% {
    transform: skewX(6.25+ 12deg) skewY(6.25+ 12deg);
  }

  44.4% {
    transform: skewX(-3.125+ 12deg) skewY(-3.125+ 12deg);
  }

  55.5% {
    transform: skewX(1.5625+ 12deg) skewY(1.5625+ 12deg);
  }

  66.6% {
    transform: skewX(-0.78125+ 12deg) skewY(-0.78125+ 12deg);
  }

  77.7% {
    transform: skewX(0.390625+ 12deg) skewY(0.390625+ 12deg);
  }

  88.8% {
    transform: skewX(-0.1953125+ 12deg) skewY(-0.1953125+ 12deg);
  }
}

/*.App {
  font-family: sans-serif;
  text-align: center;
}

*/

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
