.Projects {
  //background-color: red;
  color: $fontColorRoute1;
  .Category {
    display: flex;
    flex-direction: column;
    .CategoryTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 1em;
      padding-top: 3em;
      div {
        padding: 0 0.6em;
        padding-top: 0.3em;
        font-size: 2em;
        background-color: white;
        color: black;
        //transform:
        letter-spacing: 0.4em;
        font-family: "nimbus";
        font-weight: 50;
      }
      //color: $fontColorRoute1;
    }
    .Project {
      padding-top: 2.2em;
      img {
        display: float;
        margin-top: 14px;
        margin-right: 25px;
        margin-left: 25px;
        width: 24em;
        height: auto;
        filter: grayscale(1);
        transition: all 200ms ease-in;
        &:hover {
          filter: grayscale(0);
        }
      }
      .text {
        //float:right;
        //margin-left: auto;
        .title {
          font-size: 3.4em;
          font-family: "Merriweather", serif;
          font-weight: 900;
          font-style: italic;

          padding-top: 0.1em;
          padding-bottom: 0.4em;
        }
        .description {
          font-size: 1.4em;
          line-height: 1.4em;
          font-family: "arcon";

          a {
            color: white;
            font-weight: 400;
            font-size: 1.4em;
            transition: all 120ms ease-in;
            &:hover {
              background-color: rgba(207, 207, 207, 0.774);
              color: black;
            }
          }
          //margin-left: auto;
        }
      }
    }
  }
}
